@import "../../../global-styles/index.scss";

.ss-loading-overlay-container {
  @include flex-column-justify-align(100%, 100%, center, center);
}

.ss-loading-overlay-container__spinner {
  position: absolute;
  top: calc(50% - 50px);;
  left: calc(50% - 50px);
  right: calc(50% - 50px);
//   transform: translate(-50%, -50%);
  min-height: 100px;
  min-width: 100px;
  border-radius: 50%;
  border: solid 3px;
  border-color: $main-blue transparent $main-blue transparent;
  animation: spin 1s linear infinite;
}

.ss-loading-overlay-container__loading{
    @include flex-column-justify-align(100%, 100%, center, center);
    
}